{{!Pagina de inicio}}
<div class="index">
    <header class="masthead d-flex">
        
    <div class="container text-center my-auto" >   
        <h1 class="mb-1">INJOB</h1>
        <h3 class="mb-5" >
            <em>!Tu momento de encontrar trabajo es ahora!</em>
        </h3>
        <a class="btn btn-dark btn-lg" href="/login">
            Presiona para comenzar 
        </a>
    </div>
        
        
        <div class="overlay"></div>
    </header>
</div>