<div class="col-md-5 mx-auto" style="margin-top: 8px;">
     <div class="card crd-prf">
         <div class="card-header">
             <h1 class="form-titulo text-center text-uppercase" >Agregar nuevo usuario</h1>
         </div>
         <div class="card-body">
             <form class="form-registro" action="/usuarios/add" method="POST">
                {{!grupo de nombres}}
                <div class="frm-group">
                    <input type="text" id="fnombre" name="nombre" placeholder="Nombre" maxlength="20" required>
                    <input type="text" id="fapellido" name="apellido" placeholder="Apellido" maxlength="20" required><br>
                </div>
                {{!grupo cedula}}
                <div class="frm-group">
                    <input type="text" id="fcedula" name="cedula" placeholder="Cedula" maxlength="10" pattern="[0-9]{10}" required><br>
                </div>
                {{!grupo email}}
                <div class="frm-group">
                    <input type="email" id="fcorreo" name="correo" placeholder="Correo Electronico" maxlength="40" required><br>
                </div>
                {{!grupo telefono}}
                <div class="frm-group">
                    <input type="tel" id="ftelefono" name="telefono" placeholder="Teléfono" maxlength="10" pattern="[0-9]{10}" title="Ingresa un telefono valido" required><br>
                </div>
                <hr>
                {{!grupo pass1}}
                <div>
                    <input type="password" id="fpass" name="clave" placeholder="Contraseña" maxlength="15" required><br>
                </div>
                {{!grupo pass2}}
                <div>
                    <input type="password" id="fpass1" name="repass" placeholder="Repetir la contraseña" maxlength="15" required><br>
                </div>
                <hr>
                <p class="form-p-registro">Fecha de nacimiento:</p>
                <input id=fechaN type="date" name="nacimiento"  min="1910-00-00" max="2022-31-31" required>
                
                 <div class="frm-group text-left">
                    <p class="mb-4">Sexo:</p>
                    <span class="mr-2"> <!--disabled-->
                        Hombre
                        <input type="radio" name="sexo" value="Hombre">
                    </span>
                    <span class="mr-2">
                        Mujer
                        <input  type="radio" name="sexo" value="Mujer">
                    </span>
                    <span>
                        Otros
                        <input  type="radio" name="sexo" value="Otros">
                    </span> 
                </div>   
                
                <hr>
                {{!grupo roles}}
                <div class="frm-group">
                    <p>Rol del usuario: <b class="text-uppercase"></b></p>
                    <select name="rol" id="frol" class="pb-1 pt-1" required >
                        <option selected> Elegir un rol </option>
                        <option value="1">Emleado</option>
                        <option value="2">Empresa</option>
                        <option value="3">Administrador</option>
                    </select>
                </div>
                <hr>
                <div class="text-center">
                    <button onclick="location.href='/inicio'" type="button" class="btn btn-secondary">Atras</button>
                    <button type="submit" class="btn btn-dark">Aceptar</button>
                </div>
                
        
            </form>
         </div>
     </div>
     
    </div>
</div>