


<div class="col-md-4 mx-auto" style="margin-top: 25px;">  
    <div class="card crd-prf">
        <div class="card-header">
            <h3 class="form-title text-center">Búsqueda de Usuario</h3>
        </div>
        <div class="card-body">
            <form class="form-registro"  action="/usuarios/search" method="POST">
                <hr style="background-color: white;">
                <div class="frm-group">
                    <p class="form-p text-left">Ingresa el número de cédula del usuario:</p>
                    <input type="text"  id="fnBsq" name="cedula" placeholder="Cedula" maxlength="10" pattern="[0-9]{10}"  style="color: black;" required >  
                </div>
                
                <hr style="background-color: white;">
                <div class="text-center">
                    <button onclick="location.href='/usuarios'"  type="button" class="btn btn-secondary">Atras</button>
                    <button type="submit" class="btn btn-dark">Buscar</button>
                </div>  
            </form>
        </div>
        
    </div>
    
</div>
 