<div class="index" style="background-image:none;">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">¡OYE!... ¡Tú no puedes acceder aquí!</h1>
            <br>
            <a class="btn btn-secondary btn-lg" href="/">
                Volver al inicio
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</div>