{{>navbar}}
<div class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Upss... Esta página no fue encontrada</h1>
            <br>
            <a class="btn btn-secondary btn-lg" href="/">
                Volver al inicio
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</div>