<div class="container p-4">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-uppercase text-center">
                        Error
                    </h3>
                    <p class="m-3 text-center">El administrador actualizó sus datos debe vover a logear</p>
                    <hr>
                    <div class="text-center">
                        <a class="btn btn-primary" href="/logout">
                            Volver a logear
                        </a>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>